@import "../../styles/interpolate";
.who-we-are{

  overflow: hidden;

  .who-we-are__header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    .section-label {
      padding-bottom: 40px;
      .section-label--text {
        /* Desktop/B2 */
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        margin: 0 24px;
        display: inline-block;
        /* Neutral/Heading_text */
        color: #000000;
      }
    }

    .section-heading {
      /* Desktop/H3 */
      font-family: "Cormorant Garamond";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
      /* identical to box height, or 111% */
      text-align: center;
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      /* Neutral/Heading_text */
      color: #000000;
      padding-bottom: 8px;
    }

    .section-description {
      /* Desktop/B1 */
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      text-align: center;
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      /* Neutral/Sub_text */
      color: #4b4b4b;
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 40px;
    }
  }
.about__stats {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 120px;
    padding-bottom: 120px;
    .about__stats-list {
        text-align: center;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .about__stats-item {
            @media (min-width: 768px) {
                border-right: 1px solid var(--color-border);

                @media (min-width: 992px) {
                    br {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                br {
                    display: none;
                    @media (min-width: 768px) {
                        display: block;

                        @media (min-width: 992px) {
                            display: none;
                        }
                    }
                }
            }
            &:nth-child(4) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                    border-right: 0px solid var(--color-border);
                }
            }
            &:nth-child(5) {
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
        .about__stats-number {
            position: relative;
            display: flex;
            align-items: start;
            justify-content: center;
        }
        .about__stats-count {
            /* Desktop/H1 */
            font-family: "Cormorant Garamond";
            font-style: normal;
            font-weight: 600;
            // font-size: 58px;
            // line-height: 62px;
            @include interpolate("font-size", 568px, 40px, 1200px, 58px);
            @include interpolate("line-height", 568px, 48px, 1200px, 62px);
            font-feature-settings:
                "pnum" on,
                "lnum" on;

            /* Secondary/Turmeric_gold */
            color: var(--color-heading);
        }
        sup.about__stats-suffix {
            /* Desktop/H1 */
            font-family: "Cormorant Garamond";
            font-style: normal;
            font-weight: 600;
            font-size: 58px;
            line-height: 30px;
            @include interpolate("font-size", 568px, 40px, 1200px, 58px);
            @include interpolate("line-height", 568px, 20px, 1200px, 30px);
            font-feature-settings:
                "pnum" on,
                "lnum" on;

            /* Secondary/Turmeric_gold */
            color: var(--color-gold);
        }
        .about__stats-label {
            /* Desktop/H5 */
            font-family: "Raleway";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            @include interpolate("font-size", 568px, 16px, 1200px, 20px);
            @include interpolate("line-height", 568px, 24px, 1200px, 24px);
            /* identical to box height, or 120% */
            text-align: center;
            font-feature-settings:
                "pnum" on,
                "lnum" on;

            /* Neutral/Heading_text */
            color: var(--color-heading);
        }
    }
}

}