.testimonial {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background: #F5F3EB;
  min-height: 326px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__rating {
    display: flex;
    gap: 6px;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }

  &__text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/text-2 */
    color: #303030;
  }

  &__videoWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 6px;
    background: var(--color-muted);
  }

  &__video,
  &__iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  &__info {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/text-2 */
    color: #303030;
  }

  &__name {
    border-top: 1px solid #D3D3D3;
    padding-top: 16px;
    /* Desktop/H6 */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/Heading_text */
    color: #000000;
    padding-bottom: 2px;
  }

  &__location {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/Black */
    color: #2a2a29;
  }
}
