.page {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  padding: 8px 12px;

  @media (min-width: 768px) {
    padding: 16px 20px;
  }
}
