.pagination {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-top: 80px;
  padding-bottom: 120px;
    gap: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  .pagination__numbers {

    .pagination__page {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 25px;
      border-radius: 50%;
      /* Desktop/B2 */
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      font-feature-settings:
        "pnum" on,
        "lnum" on;

      /* Neutral/text-2 */
      color: #303030;

      &.pagination__page--active {
        background: #1e5f2f;

        /* Neutral/White */
        color: #ffffff;
      }
    }
    .pagination__dots {
    }
  }
}
