.latest-projects {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;

  .latest-projects__header {
    text-align: center;
    .section-label {
      padding-bottom: 40px;
      .section-label--text {
        /* Desktop/B2 */
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        margin: 0 24px;
        display: inline-block;
        /* Neutral/Heading_text */
        color: #000000;
      }
    }
  }

  .section-heading {
    /* Desktop/H3 */
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    text-align: center;
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/Heading_text */
    color: #000000;

  }

  .latest-projects__cta {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
    .btn {
      display: inline-block;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;

      color: #ffffff;
      /* Primary/Temple_Grove_Green */
      background: #1e5f2f;
      padding: 16px 24px;
    }
  }

  .projects-grid {
    padding-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
