.blog-detail {
    max-width: 1294px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    .blog-detail__layout {
        overflow: hidden;
        display: grid;
        gap: 20px;
        @media (min-width: 992px) {
            grid-template-columns: 1fr 387px;
        }
    }
    .blog-detail__main {
        .blog-detail__hero {
            padding-bottom: 56px;
            img {
                width: 100%;
                max-height: 450px;
                object-fit: cover;
                object-position: center;
            }
        }
        .blog-detail__header {
            padding-bottom: 40px;
            .blog-detail__title {
                /* Desktop/H4 */
                font-family: "Raleway";
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                /* identical to box height, or 125% */
                font-feature-settings:
                    "pnum" on,
                    "lnum" on;

                /* Neutral/Heading_text */
                color: #000000;
            }
            .blog-detail__date {
                /* Desktop/B2 */
                font-family: "Raleway";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height, or 143% */
                font-feature-settings:
                    "pnum" on,
                    "lnum" on;

                /* Neutral/Sub_text */
                color: #4b4b4b;
            }
        }
    }
}
