// Project Media Tabs Styles
.media-tabs {
    .media-tabs__buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
        .media-tabs__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 16px 24px;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;

            /* Neutral/text-2 */
            color: #303030;

            &.media-tabs__btn--active {
                background-color: #1e5f2f;
                /* Neutral/White */
                color: #ffffff;
                svg{
                    path{
                        fill: #fff;
                    }
                }
            }
        }
    }

    .media-tabs__carousel{
        display: flex;
        gap: 20px;
    }
}
