@import "../../styles/interpolate";

// Project Enquiry Form Styles
.enquiry-form {
    padding: 24px 16px;
    background-color: #ffffff;
    .enquiry-form__heading {
        /* Mobile/H5 */
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        /* identical to box height, or 133% */
        font-feature-settings:
            "pnum" on,
            "lnum" on;

        /* Neutral/Heading_text */
        color: #000000;

        @include interpolate("font-size", 568px, 18px, 1200px, 20px);
        @include interpolate("line-height", 568px, 24px, 1200px, 24px);
        padding-bottom: 40px;
    }
    .enquiry-form__field {
        .enquiry-form__input,
        .enquiry-form__textarea {
            width: 100%;
            margin-bottom: 16px;
            background-color: #f5f5f5;
            padding: 16px 24px;
            /* Desktop/B2 */
            font-family: "Raleway";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */
            font-feature-settings:
                "pnum" on,
                "lnum" on;

            /* Neutral/text-2 */
            color: #303030;
        }
    }

    .enquiry-form__checkbox-group {
        padding-bottom: 8px;
    }
    .enquiry-form__checkbox {
        display: none;
    }

    .enquiry-form__checkbox-label {
        display: inline-flex;
        align-items: flex-start;
        gap: 8px;
        cursor: pointer;
        transition: all 0.3s;

        /* Desktop/B2 */
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        font-feature-settings:
            "pnum" on,
            "lnum" on;

        /* Neutral/Sub_text */
        color: #4b4b4b;

        &::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            min-width: 18px;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            background: #ffffff;
            transition: all 0.3s;
        }
    }

    .enquiry-form__checkbox:checked + .enquiry-form__checkbox-label::before {
        background: rgba($color: #1e5f2f, $alpha: 0.6)
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23ffffff'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E")
            center no-repeat;
        background-size: 16px 16px;
        border-color: #1e5f2f;
    }

    .enquiry-form__disclaimer {
        padding-top: 8px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        /* or 167% */
        font-feature-settings:
            "pnum" on,
            "lnum" on;

        /* Neutral/Sub_text */
        color: #4b4b4b;
    }

    .enquiry-form__btn {
        margin-top: 40px;
        padding: 16px 24px;

        /* Primary/Temple_Grove_Green */
        background: #1e5f2f;

        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;

        color: #ffffff;
    }
}
