// Project Sticky Navigation Styles
.sticky-nav {
    background: #ffffff;
    display: flex;
    padding: 24px 20px;
    .sticky-nav__links {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: inline-flex;
        gap: 24px;
        flex: 1 0 auto;
        .sticky-nav__link {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            font-feature-settings:
                "pnum" on,
                "lnum" on;

            /* Neutral/text-2 */
            color: #303030;
        }
    }
    .sticky-nav__actions {
        display: inline-flex;
        gap: 24px;
        .sticky-nav__link {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            font-feature-settings:
                "pnum" on,
                "lnum" on;

            /* Neutral/text-2 */
            color: #303030;
        }
    }
}
