.contact-form {
  padding: 32px;
  background: #ffffff;
  .contact-form__heading {
    /* Desktop/H5 */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;
    text-align: center;
    /* Neutral/Heading_text */
    color: #000000;
    padding-bottom: 40px;
  }
  .contact-form__field,
  .contact-form__textarea,
  .contact-form__disclaimer,
  .contact-form__checkbox-group {
    margin-bottom: 16px;
    max-width: 100%;

    @media (min-width: 768px) {
    max-width: 370px;
    }
  }
  .contact-form__input,
  .contact-form__textarea {
    border: 0;
    width: 100%;
    /* Desktop/B2 */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/text-2 */
    color: #303030;

    padding: 16px 24px;

    /* Neutral/surface */
    background: #f5f5f5;
  }

  .contact-form__checkbox {
    display: none;
  }

  .contact-form__checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s;

    /* Desktop/B2 */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/Sub_text */
    color: #4b4b4b;

    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      min-width: 18px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      background: #ffffff;
      transition: all 0.3s;
    }

    &:hover::before {
      border-color: #1e5f2f;
    }
  }

  .contact-form__checkbox:checked + .contact-form__checkbox-label::before {
    background: #becbff
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231e5f2f'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E")
      center no-repeat;
    background-size: 16px 16px;
    border-color: #becbff;
  }

  .contact-form__disclaimer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/Sub_text */
    color: #4b4b4b;
  }

  .contact-form__btn {
    /* Enquiry Now */
    margin-top: calc(40px - 16px);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px 24px;
    /* Primary/Temple_Grove_Green */
    background: #1e5f2f;
  }
}
