.contact-form {
  padding: 32px;
  background: #ffffff;
  .contact-form__heading {
    /* Desktop/H5 */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;
    text-align: center;
    /* Neutral/Heading_text */
    color: #000000;
    padding-bottom: 40px;
  }
  .contact-form__input,
  .contact-form__textarea {
    border: 0;
    width: 100%;
    /* Desktop/B2 */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings:
      "pnum" on,
      "lnum" on;

    /* Neutral/text-2 */
    color: #303030;

    padding: 16px 24px;

    /* Neutral/surface */
    background: #f5f5f5;
    margin-bottom: 16px;
  }

  .contact-form__checkbox {
    display: none;
  }

  .contact-form__checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      min-width: 18px;
      border: 2px solid #303030;
      border-radius: 3px;
      background: #ffffff;
      transition: all 0.3s;
    }

    &:hover::before {
      border-color: #1e5f2f;
    }
  }

  .contact-form__checkbox:checked + .contact-form__checkbox-label::before {
    background: #becbff;
    border-color: #becbff;
    box-shadow: inset 0 0 0 3px #becbff;
  }
}
