.form-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 40px 20px;

    .form-success__heading {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #303030;
    }

    .form-success__text {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #303030;
    }

    .form-success__link {
        font-family: "Raleway";
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #1e5f2f;
        text-decoration: underline;
    }
}
